# CityBikes

Send a request to CityBikes for the city of your choice.

In [1]:
import requests
import pandas as pd

In [2]:
# URL of the API endpoint
url = 'https://api.citybik.es/v2/networks/dublinbikes'

# GET request to the API
response = requests.get(url)

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

In [3]:
# Check if the request was successful (status code 200)
if response.status_code != 200:
    print("Request failed. Status code:", response.status_code)
else:
    # Parse the JSON response
    data = response.json()
    
    # Extract station details
    stations = data['network']['stations']
    
    # Create lists to store extracted details
    name = []
    latitudes = []
    longitudes = []
    num_bikes_list = []
    
    # Iterate through each station and extract details
    for station in stations:
        name.append(station['name'])
        latitudes.append(station['latitude'])
        longitudes.append(station['longitude'])
        num_bikes_list.append(station['free_bikes'])

Put your parsed results into a DataFrame.

In [4]:
# Create a DataFrame with the extracted details
df = pd.DataFrame({
    'Station Name': name,
    'Latitude': latitudes,
    'Longitude': longitudes,
    'Number of Bikes': num_bikes_list
})

df

                          Station Name   Latitude  Longitude  Number of Bikes
0                         GEORGES LANE  53.350230  -6.279696               10
1    NORTH CIRCULAR ROAD (O'CONNELL'S)  53.357841  -6.251557               14
2                    PHIBSBOROUGH ROAD  53.356307  -6.273717               17
3                     SMITHFIELD NORTH  53.349562  -6.278198               16
4                       CLONMEL STREET  53.336021  -6.262980                9
..                                 ...        ...        ...              ...
109                  JAMES STREET EAST  53.336597  -6.248109                0
110               PARNELL SQUARE NORTH  53.353742  -6.265301                0
111                FOWNES STREET UPPER  53.344603  -6.263371               16
112                         SMITHFIELD  53.347692  -6.278214               21
113                     FRANCIS STREET  53.342081  -6.275233               11

[114 rows x 4 columns]

In [6]:
# Specify the file path for the CSV
csv_file_path = "../data/dublin_city_bikes.csv"

# Save the DataFrame to CSV
df.to_csv(csv_file_path, index=False)

In [8]:
duplicate_rows = df[df.duplicated()]

print("Duplicate Rows:")
duplicate_rows

Duplicate Rows:

Empty DataFrame
Columns: [Station Name, Latitude, Longitude, Number of Bikes]
Index: []