In [1]:
# imports
import pandas as pd

df_foursquare = pd.read_csv("/Users/ojefua/Documents/Projects/lhl-statistical-modelling-project/data/foursquare_features.csv")
df_yelp = pd.read_csv("/Users/ojefua/Documents/Projects/lhl-statistical-modelling-project/data/yelp_features.csv")
df2 = pd.read_csv("/Users/ojefua/Documents/Projects/lhl-statistical-modelling-project/data/dublin_city_bikes.csv")

Join the data from Part 1 with the data from Part 2 to create a new dataframe.

In [3]:
df_poi = pd.merge(df_foursquare, df_yelp, on=['Latitude','Longitude'])
df_all = pd.merge(df_poi, df2, on=['Latitude','Longitude'])
df_all

,Latitude,Longitude,Average_dist_F,Average_popularity_F,Average_rating_F,Average_distance_Y,Average_review_count_Y,Average_rating_Y,Station Name,Number of Bikes
0,53.350230,-6.279696,606.1,0.967403,9.09,813.634974,21.05,4.725,GEORGES LANE,17
1,53.357841,-6.251557,824.0,0.963300,8.91,852.302705,28.95,4.675,NORTH CIRCULAR ROAD (O'CONNELL'S),28
2,53.356307,-6.273717,999.3,0.969428,9.01,839.916357,19.25,4.725,PHIBSBOROUGH ROAD,2
3,53.349562,-6.278198,584.4,0.972062,9.13,777.232101,16.45,4.750,SMITHFIELD NORTH,23
4,53.336021,-6.262980,709.7,0.990946,9.20,689.425498,29.90,4.775,CLONMEL STREET,3
...,...,...,...,...,...,...,...,...,...,...
109,53.336597,-6.248109,782.5,0.976231,9.13,690.606529,18.15,4.675,JAMES STREET EAST,0
110,53.353742,-6.265301,646.9,0.967628,9.10,625.914671,17.00,4.800,PARNELL SQUARE NORTH,1
111,53.344603,-6.263371,433.1,0.990964,9.22,676.468985,15.85,4.875,FOWNES STREET UPPER,18
112,53.347692,-6.278214,566.9,0.971522,9.14,768.840359,15.25,4.775,SMITHFIELD,14
113,53.342081,-6.275233,704.7,0.978399,9.16,835.191243,26.60,4.825,FRANCIS STREET,9

Provide a visualization that you used as part of your EDA process. Explain the initial pattern or relationship you discoved through this visualization.

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
sns.set(style="ticks", color_codes=True)

g = sns.pairplot(df_all, diag_kind="kde")

plt.show()

In [ ]:
correlation_matrix = df_all.corr(numeric_only=True)
correlation_matrix

In [ ]:
plt.figure(figsize=(10, 8))

sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm', center=0)

plt.title("Correlation Heatmap")
plt.show()

# Database

Put all your results in an SQLite3 database (remember, SQLite stores its databases as files in your local machine - make sure to create your database in your project's data/ directory!)

In [4]:
import sqlite3
from sqlite3 import Error

In [5]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [ ]:
connection = create_connection("./data/bikes_poi.sqlite")

# Write the DataFrames to the database
df_foursquare.to_sql('foursquare', connection, if_exists='replace', index=False)
df_yelp.to_sql('yelp', connection, if_exists='replace', index=False)
df2.to_sql('bikes', connection, if_exists='replace', index=False)

# Close the database connection
connection.close()

Look at the data before and after the join to validate your data.

In [ ]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [ ]:
connection = create_connection("./data/bikes_poi.sqlite")

select_bikes = "SELECT * FROM bikes"
bikes = execute_read_query(connection, select_bikes)

for station in bikes:
    print(station)

connection.close()